# Using OpenAI Endpoint
OPENAI_API_TYPE=openai
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_API_KEY=sk-...
OPENAI_API_VERSION=2025-04-01-preview

# Using Azure OpenAI Endpoint
# OPENAI_API_TYPE=azure
# AZURE_OPENAI_ENDPOINT=https://...openai.azure.com
# AZURE_OPENAI_API_KEY=...
# OPENAI_API_VERSION=2025-04-01-preview
